<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md fixed-top py-0">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><img id = "key-club-logo" class = "img-fluid p-2" src="/images/KC-mod1.png" alt="Key Club: Eastchester District"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <a href="/tutoring" class="nav-link" id = "programsLink">Tutoring</a>
            <a href="/initiatives" class="nav-link" id = "whyLink">Initiative</a>
            <a href="/why" class="nav-link" id = "initiativesLink">Why Us</a>
            <a href="/signup" class="nav-link" id = "contactLink">Sign Up</a>
        </div>
    </div>
</nav>

