<% layout('layouts/boilerplate') %>

    <!-- heart image -->
    <section class="container-fluid my-5">
        <div class="row text-center align-items-center">
            <div class="col-md-8 mx-auto"><img id = "heart-image" class = "img-fluid" src="images/heart.png" alt=""></div>
        </div>
    </section>

    <!-- what we do -->
    <section id = "explanation-container" class = "container-fluid color-secondary py-3">
        <div class="row text-center align-items-center pt-3">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2>What we do</h2>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row text-center align-items-center mb-3">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row justify-content-center my-4">
                    <!-- mission statement -->
                    <div id = "content-container" class="col-xl-10 blurb color-tertiary py-4 px-5 container">
                        <h3 class = "py-2">MISSION STATEMENT</h3>
                        <p class="lead text-left">The Eastchester District Key Club is a student-led service organization that focuses 
                            on helping others and spreading awareness of the issues prevalent outside our welcoming community. <br> <br>
                            In accordance with our motto, “Caring - Our Way of Life”, our members dedicate themselves to improving Eastchester 
                            through their support of various causes, both small and large. <br> <br> We organize fundraisers that occur year-round, 
                            advocate for causes that need to be addressed, and offer all our members a chance to participate in such community 
                            service endeavors. <br> <br> Through the experiences we gain from volunteering, fundraising, and advocating, our members develop 
                            leadership skills that later make a difference in the world. <br> <br>Not only do we build the best possible leaders, but we also 
                            build the best possible people.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </section>

    <span class="container-fluid my-4">
        <div class="row"></div>
    </span>

    <!-- about -->
    <section id = "about">
        <div class = "color-tertiary container" id = "aboutContainer">
            <div class="row py-5">
                <div class="col-lg-6 text-center align-self-center pl-3 pb-lg-0 pb-3">
                    <img src="images/way of life.png" alt="Caring is Our Way of Life" class = "img-fluid px-3">
                </div>
                <div id = "about" class="col-lg-6 text-center text-lg-left px-2 px-5 container">
                    <h2>About</h2>
                    <p>Key Club is an international, student-run organization that is present in 38 countries with over 250,000 members.</p>
                    <p>In partnership with Kiwanis, we make a positive impact as we serve others, contributing to the well-being and 
                        growth of our community through service and help develop core skills while bringing people together.</p>
                    <p>Our Pledge:<br>

                        I pledge, on my honor,<br>
                        to uphold the Objects of Key Club International;<br>
                        to build my home, school and community;<br>
                        to serve my nation and world;<br>
                        and combat all forces which tend to undermine these institutions.</p>
                </div>
            </div> 
        </div>
    </section>

    <span class="container-fluid my-4">
        <div class="row"></div>
    </span>

    <!-- key club week -->
    <section id = "key-club-week" class="my-5">
        <div class="row">
            <div class = "col-md-2 col-sm-1"></div>
            <div class = "col-md-8 col-sm-10 text-center">
                <img src="images/key-club-week-modified.png" class = "img-fluid" alt="#KeyClubWeek">
            </div>
            <div class = "col-md-2 col-sm-1"></div>
        </div>
    </section>