<% layout('layouts/boilerplate') %>

    <section id = "explanation-container" class = "container-fluid color-secondary py-3">
        <div class="row text-center align-items-center mb-3">
            <div class="col-md-12">
                <div class="row justify-content-center my-4">
                    <div id = "content-container" class="col-xl-10 blurb color-tertiary py-4 ">
                        <h1 class = "py-4" id = "container-heading">Annual Food/Toy Drive</h1>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="lead px-0 px-md-5 text-left py-2" id = "container-text"><span class = "emphasize">About:</span>
                                    For Thanksgiving, we partnered with Move for Hunger, a non-profit organization that works to 
                                    fight hunger and reduce food waste. The food drive involves asking for and collecting donations of 
                                    Thanksgiving-themed non-perishable items, such as cranberry sauce, gravy, canned vegetables, instant potatoes,
                                     and pie filling to help set the table for a family in need. All donations are sent to a local food bank, so 
                                     they can be distributed to less fortunate families. In doing so, we raise awareness for the nearly 13 million
                                      children in the United States who do not have reliable access to a sufficient quantity of affordable food 
                                      (and collect donations for Key Club if possible).</p>
                            </div>
                            <div class="col-lg-6">
                                <img class = "img-fluid" id = "tutoring-image"src="images/food-drive.png" alt="Thanksgiving Food Drive">
                            </div>
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>