    <% layout('layouts/boilerplate') %>

    <section id = "explanation-container" class = "container-fluid color-secondary py-3">
        <div class="row text-center align-items-center mb-3">
            <div class="col-md-12">
                <div class="row justify-content-center my-4">
                    <div id = "content-container" class="col-xl-10 blurb color-tertiary py-4 ">
                        <p class="lead px-0 px-md-5 text-left py-2" id = "container-text">
                            <h2 id = "signupFormTitle">Interested in joining the Eastchester District Key Club during your high school years?
                                <br>Sign up using the form below!</h2>
                                <section id = "signupForm" class="py-5">
                                    <div class="row">
                                        <div class = "col-xl-3 col-1"></div>
                                        <div class = "col-xl-6 col-10">
                                            <div id = "form-container" class = "row container shadow-lg p-3 mb-5 bg-body rounded mr-0">
                                                <form class = "text-left">
                                                    <div>
                                                        <p class = "text-center">Thank you for deciding to join the Eastchester District Key Club. 
                                                            <br>Please fill out this form.</p>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="fullName" class="form-label">Full Name</label>
                                                        <input type="text" class="form-control" id="fullName" placeholder = "John Doe" aria-describedby="fullName" required>  
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="email" class="form-label">Email Address</label>
                                                        <input type="email" class="form-control" id="email" placeholder = "example@gmail.com" required>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                        <label class="form-check-label" for="flexRadioDefault1">
                                                          Freshman
                                                        </label>
                                                      </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                                        <label class="form-check-label" for="flexRadioDefault2">
                                                            Sophmore
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                                        <label class="form-check-label" for="flexRadioDefault3">
                                                            Junior
                                                        </label>
                                                    </div>
                                                    <div class="form-check mb-3">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                                                        <label class="form-check-label" for="flexRadioDefault4">
                                                            Senior
                                                        </label>
                                                    </div>
                                                    <div class = "text-center">
                                                        <button type="submit" class="btn btn-primary color-primary" id = "submitButton">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class = "col-xl-3 col-1"></div>
                                    </div>
                                </section>
                        </p>                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>