<% layout('layouts/boilerplate') %>

    <section id = "explanation-container" class = "container-fluid color-secondary py-3">
        <div class="row text-center align-items-center mb-3">
            <div class="col-md-12">
                <div class="row justify-content-center my-4">
                    <div id = "content-container" class="col-xl-10 blurb color-tertiary py-4 ">
                        <h2 id = "sign-up">Elementary School Tutoring Sign Up</h2>
                        <a id="sign-up-text" href="https://form.jotform.com/202254517177151"><button class="btn btn-primary color-primary">Sign Up Here</button></a>
                        
                        <h1 class = "py-4" id = "container-heading">Elementary School Tutoring Overview</h1>
                        
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="lead px-0 px-md-5 text-left py-2" id = "container-text"><span class = "emphasize">About:</span>
                                The Key Club offers free tutoring to elementary school students after school on Fridays. This program gives 
                                high school students the opportunity to earn service hours through helping younger children in our school system.
                                As of August 2020, the program is adapting during the COVID situation and is now completely virtual! To register 
                                your elementary school student for free, private sessions, use the sign up form provided on this page.
                                <br> <br>
                                <span class = "emphasize">Result:</span>The program ran smoothly for the first year and grew from an initial 2 students in first week to approximately
                                 8 students on average by the end of first year.  For the second year, the program was incorporated with the 
                                 Eastchester District Key Club to ensure the program continues post our cabinet's graduation. In the second year, 
                                 the program continued smoothly until March 2020 COVID disruption and will resume in-person meetings once it is 
                                 permitted and safe. Until then, the initiative is continuing through private tutoring sessions for our students 
                                 over Zoom. </p>
                            </div>
                            <div class="col-lg-6">
                                <img class = "img-fluid" id = "tutoring-image"src="images/tutoring.png" alt="Thanksgiving Food Drive">
                            </div>
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
