<% layout('layouts/boilerplate') %>

    <section id = "explanation-container" class = "container-fluid color-secondary py-3">
        <div class="row text-center align-items-center mb-3">
            <div class="col-md-12">
                <div class="row justify-content-center my-4">
                    <div id = "content-container" class="col-xl-10 blurb color-tertiary py-4 ">
                        <h1 class = "py-2" id = "container-heading">Want to join? Keep reading</h1>
                        <p class="lead px-0 px-md-5" id = "container-text">The <span class = "emphasize">Eastchester District Key Club</span> is a student-lead high school service program sponsored by Kiwanis International. 
                            From cleaning parks to tutoring kids to fundraising for <span class = "emphasize">The Eliminate Project</span>, our members actively care about our communities. 
                            Because we're a student-led organization, we also have leadership opportunities ranging from Eastchester High School to the international level. 

                            <br><br>Still on the fence? Here's <span class = "emphasize">seven</span> more reasons to join. </p>

                        <div class="row">
                            <div class="col-xs-1 col-md my-4 mx-md-3">
                                <h2 class = "nums">One</h2>
                                <h3>Get service hours</h3>
                                <p>Key Clubbers actively seek out volunteer events!</p>
                            </div>
                            <div class="col my-4 mx-md-3">
                                <h2 class = "nums">Two</h2>
                                <h3>Make new friends</h3>
                                <p>Spend time with people who have the same passion for service as you do!</p>
                            </div>
                            <div class="col my-4 mx-md-3">
                                <h2 class = "nums">Three</h2>
                                <h3>Conventions</h3>
                                <p>Have a blast going to workshops, dances, and meeting people from all over the world!</p>
                            </div>
                            <div class="col my-4 mx-md-3">
                                <h2 class = "nums">Four</h2>
                                <h3>Spirit Battles</h3>
                                <p>Dress up in spirit gear and cheer at rallies, conventions, etc. to show your Key Club pride!</p>
                            </div>
                            <div class="col my-4 mx-md-3">
                                <h2 class = "nums">Five</h2>
                                <h3>Scholarships</h3>
                                <p>Passion and dedication to service and Key Club will pay off when you're a senior!</p>
                            </div>
                            <div class="col my-4 mx-md-3">
                                <h2 class = "nums">Six</h2>
                                <h3>Leadership</h3>
                                <p>Running for office, leading projects, and being involved will make you a better leader.</p>
                            </div>
                            <div class="col my-4 mx-md-3">
                                <h2 class = "nums">Seven</h2>
                                <h3>No regret</h3>
                                <p>Honestly, and why not? Step outside your boundaries. Show you care. Help change the world. Make a DIFFERENCE. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
